#main-section img{
    width:100%;
    height:100%;
}

#main-section a{
    color:white;
}

.port-item{
    width: 33%;
}

.port-item:hover{
    opacity:0.8;
    cursor: pointer;
}

footer{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .card:nth-child(0):hover{
    background:red;
}